<ion-content>

  <ion-slides pager="true" #slides>
    <ion-slide>
      <h1>Welcome to Personal Finances</h1>
      The best way ti track your expenses
      <ion-button expand="button" color="light" (click)="next()">
        Configure your App
      </ion-button>
    </ion-slide>
  </ion-slides>

  <ion-slides pager="true" #slides>
    <ion-slide>
      <h1>Setup Your App</h1>

      <ion-list>
        <ion-radio-group>

        </ion-radio-group>
      </ion-list>

      <ion-button expand="button" color="light" (click)="saveAndStart()">
        Get Started
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>